@{ ViewData["Title"] = "MedOnTime Forgot Password"; }
@if (!"".Equals(ViewBag.Message))
{
<div class="alert-danger">@ViewBag.Message</div>}
<form action="" method="post">
    <h3 style="text-align: center;">Password Recovery</h3>
    <!--Email field-->
    <div class="registerField">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" />
    </div>
    <input type="submit" value="Recover Account" />
</form>
