@{
    ViewData["Title"] = "MedOnTime Login";
}
@if (!"".Equals(ViewBag.Message))
{
    <div class="alert-danger">@ViewBag.Message</div>
}
<form action="Login" method="post">
    <!--Email field-->
    <div class="registerField">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" />
    </div>
    <!--Password field-->
    <div class="registerField">
        <label class="form-label" for="email">Password</label>
        <input class="form-control" type="password" name="password" />
        <a href="#">Forgot Password?</a>
    </div>
    <input type="submit" value="Login" />
</form>
