@{
    ViewData["Title"] = "MedOnTime Login";
}

<form action="/" method="post">
    <!--Email field-->
    <div class="registerField">
        <label>Email</label>
        <input type="email" value="" />
    </div>
    <!--Password field-->
    <div class="registerField">
        <label>Password</label>
        <input type="password" value="" />
        <a href="#">Forgot Password?</a>
    </div>
    <input type="submit" value="Login" />
</form>
