@model Caretaker
@{
    ViewData["Title"] = "MedOnTime Registration";
}

<section id="registerHeadingFlexRow">
    <img id="heartPlus" src="~/img/heartPlusIcon.ico" alt="Heart+ Icon" />
    <h2>Register</h2>
</section>
<section>
    <div class="alert-danger text-left" asp-validation-summary="All"></div>
    <form action="Register" method="post">
        <!--First Name field-->
        <div class="registerField">
            <label asp-for="FirstName">First Name</label>
            <input class="form-control" asp-for="FirstName" />
        </div>
        <!--Last Name field-->
        <div class="registerField">
            <label asp-for="LastName">Last Name</label>
            <input class="form-control" asp-for="LastName" />
        </div>
        <!--Phone number field-->
        <div class="registerField">
            <label asp-for="PhoneNum">Phone No.</label>
            <input class="form-control" asp-for="PhoneNum" />
        </div>
        <!--Date of Birth field-->
        <div class="registerField">
            <label>Date of Birth.</label>
            <input type="text" value="" />
        </div>
        <!--Email field-->
        <div class="registerField">
            <label asp-for="Email">Email</label>
            <input class="form-control" asp-for="Email" />
        </div>
        <!--Password field-->
        <div class="registerField">
            <label asp-for="Password">Password</label>
            <input class="form-control" asp-for="Password" />
        </div>
        <!--Title field-->
        <div class="registerField">
            <label>Title</label>
            <select>
                <option value="No Title">No Title</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Ms.">Ms.</option>
                <option value="Mr.">Mr.</option>
            </select>
        </div>
        <input type="submit" value="Create Profile" />
    </form>
</section>