@using MedOnTime_WebApp.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedOnTime_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="z-index: 5;">
            <button id="layout-nav-button" class="btn">
                <img class="nav-icon" src="~/img/Hamburger_icon.png" alt="Nav Toggle Icon" />
            </button>
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-row">
                        @if (LoginStatus.IsLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" href="#" id="medOnTime-title" onclick="Logout()">Logout</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="navbar-brand" id="medOnTime-title" asp-area="" asp-controller="Home" asp-action="Index">MedOnTime</a>
                        </li>
                        <li class="nav-item">
                            <!-- To start email notification & use subscription model -->
                            <a class="nav-link text-dark">
                                <img class="nav-icon" src="~/img/notification-icon.png" alt="Notification Icon" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Caretaker" asp-action="Register">
                                <img class="nav-icon" src="~/img/profile-icon.png" alt="Profile Icon" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="layout-side-panel">
        <a class="side-panel-item btn" asp-controller="Home" asp-action="Index" aria-current="true">
            <img id="home-icon" src="~/img/home-icon.png" alt="Home Icon" />
        </a>
        <br />
        <a class="side-panel-item btn" asp-controller="Home" asp-action="SchedulePicker" aria-current="true">
            <img id="calendar-icon" src="~/img/calander-icon.png" alt="Calendar Icon" />
        </a>
        <br />
        <a class="side-panel-item btn"  asp-controller="Home" asp-action="QRCode" aria-current="true">
            <img id="pill-icon" src="~/img/pill-icon.png" alt="Pill Icon" />
        </a>
        <br />
        <a class="side-panel-item btn"  asp-controller="Patient" asp-action="PatientList" aria-current="true">
            <img id="peoples-icon" src="~/img/peoples-icon.png" alt="Peoples Icon" />
        </a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-hide border-top footer text-muted">
        <div class="footer-hide container">
            &copy; 2021 - MedOnTime - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        function Logout() {
            var conf = confirm("Confirm Logout?");
            if (conf == true) {
                alert("You have now logged out.");
                window.location.href = '@Url.Action("Logout", "Caretaker")';
            }
        }
    </script>
</body>
</html>
