/*General Styles*/
body, html {
    margin: 0;
    padding: 0;
}

label {
    font-size: 15px;
}

input {
    text-align: center;
    min-height: 20px;
}

div {
    margin: 5px;
    text-align: center;
}

.side-panel-item {
    margin: 15px 0px;
}

td {
    padding: 10px;
    text-align: left;
}

/* _Layout styles */
#layout-side-panel {
    /*position: absolute;
    left: 13px;*/
    float: left;
    background-color: rgb(255 188 197);
    opacity: 0%;
    padding: 15px;
    position: absolute;
    left: -10px;
    top: 60px;
    
}

.nav-icon, #home-icon, #calendar-icon, #pill-icon, #peoples-icon {
    height: 40px;
}

/* Index.cshtml styles */
/*#homeCalendar {
    height: 200px;
}*/

.homeContent {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homeRoute, input[type="submit"] {
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(255, 133, 149);
    color: black;
    border-radius: 5px;
    margin: 5px;
}

.homeButtons {
    margin: 20px;
}

#homeFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Register.cshtml*/
#heartPlus {
    height: 40px;
    margin: 5px;
}

#registerHeadingFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.registerField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Medication Form styles */
.upload-image-icon {
    height: 80px;
}

/* Patient Profile styles*/
.heartBeatIcon {
    height: 50px;
}


/*Mobile Styles*/
/*@media only screen and (max-width: 600px) {
    
}*/