<div>
    <form>
        Medication Name*<br />
        <input type="text" placeholder="What's the name of the medication?" /><br />
        Method of Taking*<br />
        <input type="text" placeholder="Ex: Grinded Pills" /><br />
        Dosage*<br />
        <input type="text" placeholder="How many milligrams" />
        <select>
            <option>mg</option>
            <option>ml</option>
        </select><br />
        Qty*<br />
        <input type="text" placeholder="How Many Pills at a time?" /><br />
        Medicine Type*
        <select>
            <option>-- Pill --</option>
            <option>-- Sryup --</option>
            <option>-- Spray --</option>
        </select><br />
        Upload Pill Image<br />
        Upload Prescription<br />
    </form>
</div>