@{
    ViewData["Title"] = "MedOnTime Home";
}

<!--TODO: Make a table with Patient Info displaying -->

<div id="homeFlexRow">
    @if (!LoginStatus.IsLoggedIn)
    {
        <section>
            <img id="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            <div class="homeButtons">
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Register">Register</a>
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Login">Login</a>
            </div>
        </section>
        <section id="medication-panel">
            <!--To have medical data shown-->
            <h4>No Medications Added</h4>
            <a class="homeRoute" asp-controller="Medication" asp-action="MedicationForm">Add Medication</a>
        </section>
    }
    else
    {
        <section>
            <!--To have patient data shown-->
            <img id="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            @if (LoginStatus.LogginedUser.Patients.Count() != 0)
            {
                <table>
                    @foreach (var patient in LoginStatus.LogginedUser.Patients)
                    {
                        <tr>
                            <td>
                                <form method="post" asp-action="Patient_Detail">
                                    <input type="hidden" name="PatientId" value="patient.PatientId" />
                                    <img src="patient.icon" alt="patient.name" />
                                    <input type="submit" value="patient.name" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h4>You don't have any patients yet.</h4>
                <a asp-controller="Caretaker" asp-action="AddPatient">Add Patient</a>
            }
            <h4>Logged in as @LoginStatus.LogginedUser.Email</h4>
        </section> 
        <section id="medication-panel">
            <!--To have medical data shown-->
            <h4>No Medications Added</h4>
            <a class="homeRoute" asp-controller="Medication" asp-action="MedicationForm">Add Medication</a>
        </section>
    }
</div>