@{
    ViewData["Title"] = "MedOnTime Home";
}
<div id="homeFlexRow">
    <section>
        <img id="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
        <div class="homeButtons">
            <a class="homeRoute" asp-action="Register">Register</a>
            <a class="homeRoute" asp-action="Login">Login</a>
        </div>
    </section>
    <section>
        <!--To have medical data shown-->
        <h4>No Medications Added</h4>
    </section>
</div>