@{
    ViewData["Title"] = "MedOnTime Home";
}

<!--TODO: Make a table with Patient Info displaying -->

<div id="homeFlexRow">
    @if (!LoginStatus.IsLoggedIn)
    {
        <section class="homeContent">
            <img id="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            <div class="homeButtons">
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Register">Register</a>
                <a class="homeRoute" asp-controller="Caretaker" asp-action="Login">Login</a>
            </div>
        </section>
    }
    else
    {
        <section class="homeContent">
            <!--To have patient data shown-->
            <img id="homeCalendar" src="~/img/calendarIcon.png" alt="Calendar Icon" />
            <h4>Logged in as @LoginStatus.LogginedUser.Email</h4>
        </section> 
        <section id="medication-panel">
            @if (LoginStatus.Patients.Count() != 0)
            {
                <h4>Your patients</h4>
                <ul>
                    @foreach (var patient in LoginStatus.Patients)
                    {
                        <li>
                            <form method="get" asp-action="PatientDetails" asp-controller="Patient">
                                <input type="hidden" value="@patient.Id" name="Id" />
                                <input type="submit" value="@patient.FirstName, @patient.LastName" />
                            </form>
                                @*
                            <form method="post" asp-action="Patient_Detail">
                                <input type="hidden" name="PatientId" value="patient.PatientId" />
                                <img src="patient.icon" alt="patient.name" />
                                <input type="submit" value="patient.name" />
                            </form>*@
                        </li>
                    }
                </ul>
            }
            else
            {
                <h4>You don't have any patients yet.</h4>
            }
            <a asp-controller="Patient" asp-action="AddPatient">Add Patient</a>
        </section>
        <!--<section id="medication-panel">-->
            <!--To have medical data shown-->
            <!--<h4>No Medications Added</h4>
            <a class="homeRoute" asp-controller="Medication" asp-action="MedicationForm">Add Medication</a>
        </section>-->
    }
</div>