
<h3><img class="heartBeatIcon" src="~/img/heart-beat-icon.png" alt="Heart Icon" />   Medicine Added</h3>

<table align="center">
    <tr>
        <td>Medication Name: </td>
    </tr>
    <tr>
        <td>Dosage: </td>
    </tr>
    <tr>
        <td>Quantity: </td>
    </tr>
    <tr>
        <td>Frequency: </td>
    </tr>
    <tr>
        <td>Method of taking: </td>
    </tr>
</table>
<div>
    @*TODO: Retrieve added image from the database*@
</div>
<a asp-action="SchedulePicker">Generate QR Code</a>
