<h3><img class="heartBeatIcon" src="~/img/heart-beat-icon.png" alt="Heart Icon" />   QR Code Scanner</h3>

<form method="post">
    <!--TODO: Add a way to scan a qr code using this: https://stackoverflow.com/questions/37361534/scan-qr-code-using-webcam-in-asp-net-web-form-->
    <input id="QR" type="file" /><br />
    <input type="submit" value="Save as PDF" />
</form>