@{
    ViewData["Title"] = "MedOnTime Registration";
}

<section id="registerHeadingFlexRow">
    <img id="heartPlus" src="~/img/heartPlusIcon.ico" alt="Heart+ Icon" />
    <h2>Register</h2>
</section>
<section>
    <form action="/" method="post">
        <!--First Name field-->
        <div class="registerField">
            <label>First Name</label>
            <input type="text" value="" />
        </div>
        <!--Middle Name field-->
        <div class="registerField">
            <label>Middle Name</label>
            <input type="text" value="" />
        </div>
        <!--Last Name field-->
        <div class="registerField">
            <label>Last Name</label>
            <input type="text" value="" />
        </div>
        <!--Phone number field-->
        <div class="registerField">
            <label>Phone No.</label>
            <input type="text" value="" />
        </div>
        <!--Date of Birth field-->
        <div class="registerField">
            <label>Date of Birth.</label>
            <input type="text" value="" />
        </div>
        <!--Email field-->
        <div class="registerField">
            <label>Email</label>
            <input type="email" value="" />
        </div>
        <!--Password field-->
        <div class="registerField">
            <label>Password</label>
            <input type="password" value="" />
        </div>
        <!--Title field-->
        <div class="registerField">
            <label>Title</label>
            <select>
                <option value="No Title">No Title</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Ms.">Ms.</option>
                <option value="Mr.">Mr.</option>
            </select>
        </div>
        <input type="submit" value="Create Profile" />
    </form>
</section>