<h3><img class="heartBeatIcon" src="~/img/heart-beat-icon.png" alt="Heart Icon" />   Medication Schedule</h3>
<form method="post">
    <!--Frequency selection-->
    <div>
        <label>Frequency:</label><br />
        <select>
            <option>Everyday</option>
            <option>Specific Days</option>
            <option>Days Interval</option>
        </select>
    </div>
    <!-- Times a day -->
    <div>
        <label>How many times a day:</label> <br />
        <input type="number" value="1" />
    </div>
    <!--Setting time & dosage-->
    <div>

    </div>
    <input type="submit" value="Add Schedule" />
</form>