@model AddPatientViewModel
@{ ViewData["Title"] = "MedOnTime Add Patient"; }

<section id="registerHeadingFlexRow">
    <img id="heartPlus" src="~/img/heartPlusIcon.ico" alt="Heart+ Icon" />
    <h2>Add Patient</h2>
</section>
<section>
    <div class="alert-danger text-left" asp-validation-summary="All"></div>
    <form asp-action="AddPatient" asp-controller="Patient" method="post">
        <input type="hidden" asp-for="Patient.CaretakerID" value="@Model.CaretakerID"/>
        <input type="hidden" asp-for="CaretakerObjID" value="@Model.CaretakerObjID"/>
        <!--First Name field-->
        <div class="registerField">
            <input class="form-control" placeholder="First Name" asp-for="Patient.FirstName" />
        </div>
        <!--Last Name field-->
        <div class="registerField">
            <input class="form-control" placeholder="Last Name" asp-for="Patient.LastName" />
        </div>
        <!--Email field-->
        <div class="registerField">
            <input class="form-control" placeholder="Email" asp-for="Patient.Email" />
        </div>
        <!--Phone number field-->
        <div class="registerField">
            <input class="form-control" placeholder="Phone Number" asp-for="Patient.PhoneNum" />
        </div>
        <!--Age field-->
        <div class="registerField">
            <input class="form-control" placeholder="Age" asp-for="Patient.Age" />
        </div>
        <input type="submit" value="Create Patient Profile" />
    </form>
</section>