@model IEnumerable<Log>

<h3><img class="heartBeatIcon" src="~/img/heart-beat-icon.png" alt="Heart Icon" />   Patient Profile</h3>


@{ ViewData["Title"] = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (false)
{
    <section class="homeContent">
        <h3>Currently not logged in</h3><br />
        <h4>To view patients, please login</h4>
        <div class="homeButtons">
            <a class="homeRoute" asp-controller="Caretaker" asp-action="Register">Register</a>
            <a class="homeRoute" asp-controller="Caretaker" asp-action="Login">Login</a>
        </div>
    </section>
}
else
{

    <h1>History of @ViewBag.patientFirstName</h1>
    @if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Time Taken
                    </th>
                    <th>
                        Medication
                    </th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.TimeTake
                        </td>
                        <td>
                            @item.MedicationName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-danger">There are no history yet.</h2>
    }
}

<form asp-action="PatientList" asp-controller="Patient" method="get">
    <input type="hidden" id="patient-list-caretakerObjId" value="" name="caretakerObjID" />
    <input type="submit" value="Back To Patient List" />
</form>


<script>
    document.getElementById("patient-list-caretakerObjId").value = getCookie("Caretaker");
</script>